@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.animation-move{
  animation-name: cards-animation;
  animation-iteration-count:infinite;
  animation-duration: 6s;
}
@keyframes cards-animation {
  0%  {
    transform: scale(0.75) ;
    z-index: 0;
  }
  9% {
    transform: scale(0.9) translateY(40px);
    z-index: 2;
  }
  33% {
    transform: scale(0.9) translateY(40px);
    z-index: 2;
  }
  42% {
    transform: translateY(80px);
    z-index: 3;
  } 
  66% {
    transform: translateY(80px);
    z-index: 3;
    opacity: 1;
  }
  75% {
    transform: translateY(130px);
    opacity: 0;
  }
  80% {
    transform: scale(0.75) translateY(40px);
    opacity: 0;
    z-index: 1;
  } 
  90% {
    transform: scale(0.75);
    opacity: 1;
    z-index: 1;
  }
}
body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
