@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: linear-gradient(
    340deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 6%,
    hsl(315deg 100% 27%) 14%,
    hsl(329deg 100% 36%) 29%,
    hsl(337deg 100% 43%) 49%,
    hsl(357deg 91% 59%) 68%,
    hsl(17deg 100% 59%) 81%,
    hsl(34deg 100% 53%) 89%,
    hsl(45deg 100% 50%) 95%,
    hsl(55deg 100% 50%) 100%
  );
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
